
  <script type="text/ng-template" id="/posts.html">
  <header class='header'>
    <nav class='header-nav group'>
      <a href="#/home"><h1 class='header-logo'>myreddit</h1></a>

    </nav>
  </header>

    <main class='content group' >

      <div class="page-header">
        <a ng-show='post.link' href="{{post.link}}">{{post.title}}</a>
        <span ng-hide='post.link'>{{post.title}}</span>
      </div>

      <div class="page-comments group" ng-repeat="comment in post.comments | orderBy: '-score'">
        <div class="link-score-display">
          <span ng-click='upVote(comment)' class='button-upvote'></span>
          <span ng-click='downVote(comment)' class='button-downvote'></span>
        </div>

        <div class="comment-title">
          <span class='comment-author'> {{comment.author}} </span>
          <span class='comment-score'> [{{comment.score}}] </span>

        </div>

        <div class='comment-body'>
          {{comment.body}}
        </div>
      </div>

      <form ng-submit='addComment()'>
        <h3>Add a new comment</h3>

        <div class="comment-form">
          <input type="text" ng-model="body" class="comment-form-input"
            placeholder="Comment"></input>

          <button type="submit">Comment</button>
        </div>
      </form>

    </main>
  </script>
